<p><%=params.to_s%></p>
<%
=begin
err = []
begin
    mta = BlackStack::Emails::Mta.new(params)
    mta.save if !mta.exists?

    add = BlackStack::Emails::Address.new(params)
    add.save
    
    # return
    redirect "/emails/addresses?msg="+ CGI::escape('Address registered.')
rescue => e
    # return errors
    redirect "/emails/addresses/new?err="+ CGI::escape(e.message)
end
=end
%>