<%
@login.user.account.create_storage

# map google-api configuration
oob_uri = BlackStack::Emails::Google::oob_uri
app_name = BlackStack::Emails::Google::app_name
google_api_certificate = BlackStack::Emails::Google::google_api_certificate
scope = BlackStack::Emails::Google::scope

# build the token file
id = guid.to_guid # id for the new address
token = "#{@login.user.account.storage_sub_folder('emails.google.tokens')}/#{id}.yaml".freeze
token_store = Google::Auth::Stores::FileTokenStore.new file: token

# get the google-api authorization
client_id = Google::Auth::ClientId.from_file google_api_certificate
authorizer = Google::Auth::UserAuthorizer.new client_id, scope, token_store

# get the google login page for the user
url = authorizer.get_authorization_url base_url: oob_uri
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		<%=nav3("Emails", "/emails", "Addresses", "/emails/addresses", "New")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span6 box">            
        <p><b>Step 1:</b></p>
        <p>Get Your API Key</p>
        <button class='btn btn-blue' id='open' name='open'>Access Your GMail</button>              
    </div>

	<div class="span6 box">            
        <form method='post' action='/emails/filter_new_address'>
            <p><b>Step 2:</b></p>
            <p>Submit Your API Key</p>
            <input type='hidden' id='id' name='id' value='<%=id%>' />
            <input class='input input-block-level' type="text" id="apikey" name='apikey' placeholder="API Key..." value='' /><br/>
            <button type="submit" class="btn btn-blue">Submit</button>
        </form>
	</div>
</section>

<script> 
$(document).ready(function() {
    $("#open").click(function() {
        window.open('<%=url%>','popup','width=600,height=600'); 
        return false;
    });
});
</script>