<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		<%=nav3("Emails", "/emails", "Addresses", "/emails/addresses", "New")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span6 box">            
        <h3>Steps to Add a Gmail Address</h3>
        <p>Follow the steps below to get a <b>app password</b> for your Gmail address.</p>

        <p><b>Step 1:</b> Go <a href='https://mail.google.com/mail/u/1/#settings/fwdandpop' target='_window'>here</a>, enable IMAP and save changes.</p>

        <img src='/emails/images/gmail1.png' class='img-polaroid' />
        <br/><br/>

        <p><b>Step 2:</b> Go <a href='https://myaccount.google.com/u/1/security' target='_window'>here</a> and enable <b>2-step verification</b>.</p>
        <img src='/emails/images/gmail2.png' class='img-polaroid' />
        <br/><br/>

        <p><b>Step 3:</b> Go <a href='https://myaccount.google.com/u/1/apppasswords' target='_window'>here</a> and create an <b>app password</b>.</p>
        <img src='/emails/images/gmail3.png' class='img-polaroid' />
        <br/><br/>
        <img src='/emails/images/gmail4.png' class='img-polaroid' />
        <br/><br/>

    </div>

	<div class="span6 box">            
        <form method='post' action='/emails/filter_new_address'>
            <h3>Add a Gmail Address</h3>

            <p>Email Address</p>
            <input class='input input-block-level' type="text" id="address" name='address' placeholder="Example: my_name@gmail.com" value='' /><br/>

            <p>App Password</p>
            <input class='input input-block-level' type="text" id="password" name='password' placeholder="Example: atdzebbqlslovjxt" value='' /><br/>

            <button type="submit" class="btn btn-blue">Submit</button>
        </form>
	</div>
</section>

<script> 
$(document).ready(function() {
    $("#open").click(function() {
        window.open('<%=url%>','popup','width=600,height=600'); 
        return false;
    });
});
</script>